@charset "UTF-8";

@font-face {
    font-family: 'love' ;
    src: url('fonts/love larry ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mdmn';
    src: url('fonts/MidnightMinutes_DEMO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'social media';
    src: url('fonts/Social Media Circled.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}
body{
    
    background-image: linear-gradient(90deg, #348888 0%, #9EF8EE 100%);
}
header, main{
    width: 80vw;
    margin: auto;
    padding: 30px;
    box-shadow: 3px 3px 10px #348888;
}
header{
    background-image: linear-gradient(90deg, #F24405 10%, #FA7F08 100%);   
    border-radius: 80px 0px 0 0; 
}
h1{
    color:#348888;
    text-shadow:3px 3px 5px black;
    font: normal normal 2em 'Permanent Marker', arial, helvetica, cursive, sans-serif;
    font-family:'mdmn', 'Times New Roman', Times, serif;
    font-size: 3em;
}
h1, h2{
    text-align: center;
    
}
main{
    background-color: #fff;
    height: 100vh;
    border-radius: 0 0 100px 0px;
}
h2{
    color: #F24405;
    padding-bottom: 30px;
    text-shadow: 5px 5px 10px rgba(183, 94, 6, 0.75) ;
    font-family: 'love', 'Times New Roman', Times, serif;
    font-weight: normal;
}
ul{
    text-align: center;
    padding-top: 10px;
}
li{
    display: inline;
}
a{
    font-family: 'social media', 'Times New Roman', Times, serif;
}